body {
  font-family: "JetBrains Mono", monospace;
  background-color: black;
  padding-top: 30px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

#intro-section {
  display: flex;
  justify-content: space-between;
}

#picture-card {
  width: 30%;
}

#intro-card {
  width: 65%;
}

.card {
  background: black;
  color: greenyellow;
  border: 2px solid greenyellow;
  /* border-radius: 30px; */
  margin: 10px;
}

.padded-card {
  padding: 30px !important;
}

.list-inline > ul {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
  padding-left: 0px;
}

.text-center {
  text-align: center;
}

ul > a > i {
  font-size: 40px;
  color: orange;
}

ul > a > i:hover {
  color: hotpink;
}

.gallery-ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 93%;
}

.gallery-li {
  height: 40vh;
  flex-grow: 1;
  margin-right: 10px;
  margin-bottom: 10px;
}

.gallery-li:last-child {
  flex-grow: 10;
}

.gallery-img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
